<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/frame.css">
    <link rel="stylesheet" href="css/schoolfood.css">
    <title>학생생활관 식당메뉴</title>
  </head>
  <body>
    <div class="top-bar">
      <img src="img/menu_button.jpg" alt="menu-button" align="left">
      <div class="menu-name">
        뭐 먹을까
      </div>
    </div>
    <div class="menu">
      학생생활관
    </div>
    <div class="content">
      <div class="day-select">
        요일선택
      </div>
      <div class="day">
        <li>월</li>
        <li>화</li>
        <li>수</li>
        <li>목</li>
        <li>금</li>
      </div>
      <div class="menu-sort">조기(07:00 ~ 07:30)</div>
      <div class="menu-cont">조기내용</div>
      <br>
      <div class="menu-sort">아침(07:30 ~ 09:00)</div>
      <div class="menu-cont">아침내용</div>
      <br>
      <div class="menu-sort">점심(12:30 ~ 13:30)</div>
      <div class="menu-cont">점심내용</div>
      <br>
      <div class="menu-sort">저녁(17:00 ~ 19:15)</div>
      <div class="menu-cont">저녁내용</div>
      <br>
    </div>
  </body>
</html>
