<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/frame.css">
    <title>
      frame
    </title>
  </head>
  <body>
    <div class="top-bar">
      <img src="img/menu_button.jpg" alt="menu-button" align="left">
      <div class="menu-name">
        제대로 가자
      </div>
    </div>
  </body>
</html>
