<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" id="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
  	<script src="/javascripts/materialsidebar.min.js"></script>
  	<script src="/javascripts/webslider.js"></script>
    <link rel="stylesheet" href="stylesheets/frame.css">
    <title>
      frame
    </title>
  </head>
  <body>

  <!-- Toolbar -->
    <div class="top-bar">
      <div id="open-sb">
      <img src="img/menu_button.png" alt="menu-button" align="left">
    </div>
      <div class="menu-name">
        제대로 가자
      </div>
    </div>

  <!-- Slidebar -->
  <section class="sidebar">
    <div class="menu-slide" align="left">
      <ul>
       <a href="/"><li class="home">홈</li></a>
       <a href="#"><li class="bus">순환버스</li></a>
       <a href="#"><li class="schedule">학사일정</li></a>
       <a href="food_sort"><li class="food">뭐먹을까</li></a>
       <a href="#"><li class="library">중도좌석</li></a>
       <a href="#"><li class="book">도서검색</li></a>
      </ul>
     </div>
   </section>
  </body>
</html>
