<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="white-space:normal">
    <h1><%= title %></h1>
    <p>Welcome to</p>
    <p><a href = "/baekdu">백두관 식당</a>
  </body>
</html>
