
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" id="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jeju.css" />

	<script src="/javascripts/jquery-2.1.3.min.js"></script>
	<script src="/javascripts/materialsidebar.min.js"></script>
	<script src="/javascripts/webslider.js"></script>
</head>

<body>
	<div class="toolbar">
		<div id="open-sb" class="menu-button menu-left"></div>
		<div>제대로 가자</div>
	</div>
	<div class="wrapper">
		<div id="main-wrapper">
			<center>
				제대로 가자 ^^
			</center>
		</div>
		<section class="sidebar">
			<nav>


				<div class="button" id="closeButton1" onclick="closeSidebar()">X</div>
				<ul id="list01">
					<li><a href = "/baekdu">백두관 식당</a></li>
					<li><a href = "/dormitory">기숙사 생활관 식당 </a></li>
					<li><a href = "/haksa">제주대학교 금년 학사일정</a></li>석
					<li><a href = "/libseat">중앙도서관 열람실 좌석</a></li>
					<li><a href= "/version">제대로 버전 업데이트 사항 </a></li>
				</ul>
			</nav>

		</section>
		<div class="underbar">
		</div>
	</div>




</body>

</html>
