<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>
      main screen
    </title>
  </head>
  <body>
    <div class="logo" align="center">
      <img class="logo_img" src="img/logo.png" alt="제대로 가자">
    </div>
    <div class="selection">
      <ul>
        <li class="tip"><a href="frame"><img src="img/tip_button.png" alt="제주대 꿀팁"></a></li>
        <li class="blank"></li>
        <li class="smart"><a href="http://elearning.jejunu.ac.kr"><img src="img/smart_button.png" alt="스마트 출석"></a></li>
      </ul>
    </div>
    <br><br><br><br>
    <div class="footer">
      <img src="img/jeju_logo.png" alt="제주대 로고" class="jeju_logo">
    </div>
  </body>
</html>
