<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" id="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="jeju.css" />

	<script src="jquery-2.1.3.min.js"></script>
	<script src="materialsidebar.min.js"></script>

	<script>
		$(function() {

			$('.sidebar').materialSidebar({
				settings: {
					opener: '#open-sb',
					wrapper: '.wrapper'
				},
				sidebar: {
					align: 'left',
					width: 300,
					closingLinks: '#closeButton2'
				}
			});

		});

		function closeSidebar() {
			var nsbw = $('.sidebar').width();
			var duration = 500;
			var easing = 'swing';
			var overflowFalse = function() {
				$('body, html').css({
					overflow: 'auto'
				});
			};

			animationReset = {
				marginRight: '+=' + nsbw,
				marginLeft: '-=' + nsbw
			};

			$('.sidebar').animate(animationReset, {
				duration: duration,
				easing: easing,
				complete: overflowFalse
			});

			var maskDiv = $('body').children().filter(function() {
				return $(this).data('ssbplugin') === 'mask';
			});

			maskDiv.fadeOut();

			//$('.sidebar').hide();
		}
	</script>
</style>
<title>중앙도서관 좌석</title>
</head>

<body>
	<div class="toolbar">
		<div id="open-sb" class="menu-button menu-left"></div>
    중도좌석
	</div>
	<div class="wrapper">
		<div id="main-wrapper">
			<center>
        <div class="lib-text-style">
          <div style="padding:10px;float:left; width:35%;">제 1열람실</text></div> <div style="padding:10px;float:right; width:65%;">gg</div>
          <div style="padding:10px;float:left; width:35%;">제 2열람실</text></div> <div style="padding:10px;float:right; width:65%;">gg</div>
          <div style="padding:10px;float:left; width:35%;">제 3열람실</text></div> <div style="padding:10px;float:right; width:65%;">gg</div>
          <div style="padding:10px;float:left; width:35%;">제 4열람실</text></div> <div style="padding:10px;float:right; width:65%;">gg</div>
          <div style="padding:10px;float:left; width:35%;">제 5열람실</text></div> <div style="padding:10px;float:right; width:65%;">gg</div>
          <div style="padding:10px;float:left; width:35%;">제 6열람실</text></div> <div style="padding:10px;float:right; width:65%;">gg</div>
          <div style="padding:10px;float:left; width:35%;">자유열람실</text></div> <div style="padding:10px;float:right; width:65%;">gg</div>
          <div style="padding:10px;float:left; width:35%;">정보검색실</text></div> <div style="padding:10px;float:right; width:65%;">gg</div>
      </div>


			</center>
		</div>



		<section class="sidebar">
			<nav>


							<div class="button" id="closeButton1" onclick="closeSidebar()">X</div>
				<ul id="list01">
					<li><a href="#">학사일정</a></li>
					<li><a href="#">뭐넣지</a></li>
					<li><a href="#">아무거나넣어요</a></li>
				</ul>
			</nav>

		</section>
		<div class="underbar">
		</div>
	</div>




</body>

</html>
