<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/menu.css">
    <title>
      menu
    </title>
  </head>
  <body>
    <div class="menu-slide" align="left">
      <a href="main.html"><li class="home">홈</li></a>
      <a href="#"><li class="bus">순환버스</li></a>
      <a href="schedule.html"><li class="schedule">학사일정</li></a>
      <a href="#"><li class="food">뭐먹을까</li></a>
      <a href="#"><li class="library">중도좌석</li></a>
      <a href="#"><li class="book">도서검색</li></a>
    </div>
  </body>
</html>
