<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/frame.css">
    <link rel="stylesheet" href="css/schoolfood.css">
    <title>
      schoolfood
    </title>
  </head>
  <body>
    <div class="top-bar">
      <img src="img/menu_button.jpg" alt="menu-button" align="left">
      <div class="menu-name">
        뭐 먹을까
      </div>
    </div>
    <div class="menu">
      학식(백두관 식당)
    </div>
    <div class="content">
      <div class="day-select">
        요일선택
      </div>
      <div class="day">
        <li>월</li>
        <li>화</li>
        <li>수</li>
        <li>목</li>
        <li>금</li>
      </div>
      <div class="menu-sort">정식(10:00 ~ 15:00)</div>
      <div class="menu-cont">정식내용</div>
      <br>
      <div class="menu-sort">특식(11:00 ~ 14:30)</div>
      <div class="menu-cont">특식내용</div>
      <br>
      <div class="menu-sort">양식(11:00 ~ 14:00)</div>
      <div class="menu-cont">양식내용</div>
      <br>
      <div class="menu-sort">중식(11:00 ~ 14:00)</div>
      <div class="menu-cont">중식내용</div>
      <br>
      <div class="menu-sort">석식(16:00 ~ 18:30)</div>
      <div class="menu-cont">석식내용</div>
      <br>
      <div class="menu-cont">
        파스타 - 11:00 ~ 17:00 <p>
        라면 - 8:30 ~ 18:30 (11:00 ~ 14:00 X) <p>
        공기밥 - 8:30 ~ 18:30
      </div>
    </div>
  </body>
</html>
