<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" id="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jeju.css" />
	<script src="/javascripts/jquery-2.1.3.min.js"></script>
	<script src="/javascripts/materialsidebar.min.js"></script>
	<script src="/javascripts/webslider.js"></script>
	<link rel="stylesheet" href="stylesheets/menu.css">
	<link rel="stylesheet" href="stylesheets/jeju.css">
	<link rel="stylesheet" href="stylesheets/frame.css">
</head>
<body>

	<!-- <div class="toolbar">
		<div id="open-sb" class="menu-button menu-left"><img class="button" src="img/menu_button.jpg" alt="menu-button" align="left"></div> -->
		<!-- <img src="img/menu_button.jpg" alt="menu-button" align="left"> -->
		<!-- <div class="menu-name">
			제대로 가자
		</div>
	</div> -->

	<!-- Toolbar -->
	<div class="top-bar">
      <div id="open-sb">
      <button type="button"><img src="img/menu_button.png" alt="menu-button" align="left"></button>
      </div>
		<div class="menu-name">
			제대로 가자
		</div>
	</div>

	<div class="wrapper">
		<div id="main-wrapper">
			<!-- Main contents -->
			<center>
				제대로 가자 ^^
			</center>
		</div>

		<!-- 왼쪽 슬라이드 바 명세 -->
		<section class="sidebar">
			<nav>
				<div class="menu-slide" align="left">
					<ul>
			      <a href="#"><li class="home">홈</li></a>
			      <a href="#"><li class="bus">순환버스</li></a>
			      <a href="#"><li class="schedule">학사일정</li></a>
			      <a href="#"><li class="food">뭐먹을까</li></a>
			      <a href="#"><li class="library">중도좌석</li></a>
			      <a href="#"><li class="book">도서검색</li></a>
					</ul>
		    </div>

				<!-- <div class="button" id="closeButton1" onclick="closeSidebar()">X</div> -->

			</nav>

		</section>



	</div>




</body>

</html>
