<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/css/frame.css">
  <link rel="stylesheet" href="/css/schoolfood.css">

  <meta charset="utf-8">
  <title>Slick test</title>
  <link rel="stylesheet" type="text/css" href="slick.css">
  <link rel="stylesheet" type="text/css" href="slick-theme.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="slick.min.js"></script>
  <script>
  $(document).ready(function() {
    $(".slider").slick({
            centerpadding:true,
            dots: true,
            arrows: false,
            infinite: false,
            slidesToShow: 1,
            slidesToScroll: 1,
    customPaging : function(slider, i) {
        var title = $(slider.$slides[i]).data('title');
        return '<a class="pager_item"> '+title+' </a>';
    },
});
  })
  </script>
  <style type="text/css">
  .scroll-list {
  background-color: #efefef;
  width: 100%;
  height: 1px;
  overflow: auto;
  line-height:180%;
  text-align: left;

  }
  .scroll-list2 {
  background-color: #efefef;
  width: 100%;
  height: 1px;
  overflow: auto;
  line-height:180%;
  padding:10;
  }

ul{
  list-style-type: none;
  padding-left: 0px;

}
  </style>

  <SCRIPT LANGUAGE="JavaScript">
  <!--
  function startCateScrollScroll(target) {
        setTimeout("slideCateScroll('"+target+"')", 10);
  }
  function slideCateScroll(target) {
      var Sel_Height=350;
          el = document.getElementById(target);
      if (el.heightPos == null || (el.isDone && el.isOn == false)) {
          el.isDone = false;
          el.heightPos = 1;
          el.heightTo = Sel_Height;
      } else if (el.isDone && el.isOn){
          el.isDone = false;
          el.heightTo = 1;
      }
      if (Math.abs(el.heightTo - el.heightPos) > 1) {
          el.heightPos += (el.heightTo - el.heightPos) / 10;
          el.style.height = el.heightPos + "px";
          startCateScrollScroll(target);
      } else {
      if (el.heightTo == Sel_Height) {
          el.isOn = true;
      } else {
          el.isOn = false;
      }
          el.heightPos = el.heightTo;
          // el.style.height = el.heightPos + "px";
          el.isDone = true;
      }
  }


  //-->
  </SCRIPT>

  </head>
  <body>
    <div class="top-bar">
      <img src="img/menu-button.jpg" alt="menu-button" align="left">
      <div class="menu-name">
        뭐 먹을까
      </div>
    </div>

    <div href=# onclick="slideCateScroll('scroll-list')" style="background-color:999999;width:100%;padding:10;color:black"><center><B>시간표</B></center></div>

    <div id="scroll-list" class="scroll-list">

      <center><table>
        <tr>
          <td></td>
          <td>식사제공시간</td>
          <td></td>
        </tr>
        <tr>
          <td>정식</td>
          <td>10:00 ~ 15:00</td>
          <td>2,700원</td>
        </tr>
        <tr>
          <td>특식</td>
          <td>11:00 ~ 14:30</td>
          <td>4,000원</td>
        </tr>
        <tr>
          <td>파스타</td>
          <td>11:00 ~ 17:00</td>
          <td>6,000원</td>
        </tr>
        <tr>
          <td>스파게티</td>
          <td>11:00 ~ 17:00</td>
          <td>5,000원</td>
        </tr>
        <tr>
          <td>돈가스</td>
          <td>11:00 ~ 14:00</td>
          <td>3,000원</td>
        </tr>
        <tr>
          <td>중식</td>
          <td>11:00 ~ 14:00</td>
          <td>2,000원</td>
        </tr>
        <tr>
          <td>라면</td>
          <td>08:30 ~ 18:30 (11:00~16:00-라면 판매 안함)</td>
          <td>1,200원</td>
        </tr>
        <tr>
          <td>공기밥</td>
          <td>08:30 ~ 18:30</td>
          <td>500원</td>
        </tr>
        <tr>
          <td>석식</td>
          <td>16:00 ~ 18:30</td>
          <td>2,700원</td>
        </tr>
      </table>
</div>

    <div class="menu">
      <h1>학식메뉴</h1>
    </div>

    <div class="content">
      <div class="day-select">
        요일선택
      </div>

    <section class="slider">

      <div data-title="월">
    <ul>
      <li class="menu-sort">정식</li>
      <li class="menu-cont">정식내용</li>
      <li class="menu-sort">특식</li>
      <li class="menu-cont">특식내용</li>
      <li class="menu-sort">양식</li>
      <li class="menu-cont">양식내용</li>
      <li class="menu-sort">중식</li>
      <li class="menu-cont">중식내용</li>
    </ul>
  </div>
  <div data-title="화">
<ul>
  <li class="menu-sort">정식</li>
  <li class="menu-cont">정식내용</li>
  <li class="menu-sort">특식</li>
  <li class="menu-cont">특식내용</li>
  <li class="menu-sort">양식</li>
  <li class="menu-cont">양식내용</li>
  <li class="menu-sort">중식</li>
  <li class="menu-cont">중식내용</li>
</ul>
</div>
<div data-title="수">
<ul>
<li class="menu-sort">정식</li>
<li class="menu-cont">정식내용</li>
<li class="menu-sort">특식</li>
<li class="menu-cont">특식내용</li>
<li class="menu-sort">양식</li>
<li class="menu-cont">양식내용</li>
<li class="menu-sort">중식</li>
<li class="menu-cont">중식내용</li>
</ul>
</div>
<div data-title="목">
<ul>
<li class="menu-sort">정식</li>
<li class="menu-cont">정식내용</li>
<li class="menu-sort">특식</li>
<li class="menu-cont">특식내용</li>
<li class="menu-sort">양식</li>
<li class="menu-cont">양식내용</li>
<li class="menu-sort">중식</li>
<li class="menu-cont">중식내용</li>
</ul>
</div>
<div data-title="금">
<ul>
  <li class="menu-sort">정식</li>
  <li class="menu-cont">정식내용</li>
  <li class="menu-sort">특식</li>
  <li class="menu-cont">특식내용</li>
  <li class="menu-sort">양식</li>
  <li class="menu-cont">양식내용</li>
  <li class="menu-sort">중식</li>
  <li class="menu-cont">중식내용</li>
</ul>
</div>

    </section>

    </body>
    </html>
