<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/materialsidebar.min.js"></script>
    <script src="/javascripts/webslider.js"></script>
    <link rel="stylesheet" href="stylesheets/frame.css">
    <link rel="stylesheet" href="stylesheets/schoolfood.css">
    <title>학생생활관 식당메뉴</title>
  </head>
  <body>
    <!-- Toolbar -->
      <div class="top-bar">
        <div id="open-sb">
        <img src="img/menu_button.png" alt="menu-button" align="left">
      </div>
        <div class="menu-name">
          뭐먹을까
        </div>
      </div>

    <!-- Slidebar -->
    <section class="sidebar">
      <div class="menu-slide" align="left">
        <ul>
         <a href="/"><li class="home">홈</li></a>
         <a href="shuttlebus"><li class="bus">순환버스</li></a>
         <a href="schedule"><li class="schedule">학사일정</li></a>
         <a href="food_sort"><li class="food">뭐먹을까</li></a>
         <a href="libseat"><li class="library">중도좌석</li></a>
         <a href="libreform"><li class="book">도서검색</li></a>
        </ul>
       </div>
     </section>

   <!-- Toolbar End -->

    <div class="menu">
      학생생활관
    </div>
    <div class="content">
      <div class="day-select">
        요일선택
      </div>
      <div class="day">
        <li>월</li>
        <li>화</li>
        <li>수</li>
        <li>목</li>
        <li>금</li>
      </div>
      <div class="menu-sort">조기(07:00 ~ 07:30)</div>
      <div class="menu-cont">조기내용</div>
      <br>
      <div class="menu-sort">아침(07:30 ~ 09:00)</div>
      <div class="menu-cont">아침내용</div>
      <br>
      <div class="menu-sort">점심(12:30 ~ 13:30)</div>
      <div class="menu-cont">점심내용</div>
      <br>
      <div class="menu-sort">저녁(17:00 ~ 19:15)</div>
      <div class="menu-cont">저녁내용</div>
      <br>
    </div>
  </body>
</html>
