<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="white-space:normal">
    <h1><%= title %></h1>
    <p>학사래요 ㅎ </p>
    <%= month[0].schedule[0].haksa %>
    <%= month[0].schedule[1].haksa %>

  </body>
</html>
