<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form method='GET' name='search' action='/libserch'>

    <input name="keyword"  placeholder="검색어를 입력하세요.">
    <input type="hidden" >
    <input type="submit" value="검색">
    <script>
    function

    </script>


</form>
</body>
</html>
