<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/frame.css">
    <title>
      frame
    </title>
    <style>

    .bus{
      border-style: double;
      font-size: 200%;
      color: black;
      padding: 5px;
      font-weight: bold;
      clear:both;
      margin-bottom: 10px;

    }
    .bus-date{
      background-color:rgba(41, 128, 185, 0.66);
      clear:both;
      padding-top: 10px;
      padding-bottom: 10px;
      color:white;
      font-size: 250%;
    }
    .bus-time{
      padding:10px;
      float:left;
      width:30%;
      font-size: 200%;
    }
    .bus-num{
      padding:10px;
      float:right;
      width:60%;
      font-size: 200%;
    }
    .bus-route{
      margin:20px;
      font-size: 200%;
    }
    </style>
  </head>
  <body>
    <div class="top-bar">
      <img src="img/menu_button.jpg" alt="menu-button" align="left">
      <div class="menu-name">
        제대로 가자
      </div>
    </div>
    <div class="wrapper">
      <div id="main-wrapper">
        <center>
          <div>
            <div class="bus">야간 버스 시간표</div>
            <div class="bus-date">매일 운행</div>
            <div class="bus-time">00:05</div><div class="bus-num">1호차</div>
          </div>
          <div>
            <div class="bus-date">시험전전주(월~일), 시험주 (목)</div>
            <div class="bus-time">00:05</div><div class="bus-num">2,3호차</div>
            <div class="bus-time">01:05</div><div class="bus-num">1호차</div>
          </div>
          <div>
            <div class="bus-date">시험전주(월)~시험주(수)</div>
            <div class="bus-time">00:05</div><div class="bus-num">1,2,3,4,5호차</div>
            <div class="bus-time">01:05</div><div class="bus-num">2,3호차</div>
            <div class="bus-time">02:05</div><div class="bus-num">2,3호차</div>
          </div>

          <div>
            <div class="bus">버스노선</div>
          <div class="bus-date">1호선</div>
            <div class="bus-route"><span style="color:blue;">중앙도서관</span>~제주시청-문예회관-인화초교-동광우체국-일도이동사무소-제주여상-동문로타리-관덕정-용담사거리-용담1동주민센터-병문교-중앙여중-한국병원-시외버스터미널-오라오거리-건설공제조합-신제주로타리-한라병원-노형로타리-<span style="color:red;">부영아파트사거리(종점)</span></div>
          <div class="bus-date">2호선</div>
            <div class="bus-route"><span style="color:blue">중앙도서관</span>~제주시청-구신고-중앙여중-병문교-용담1동주민센터-용담사거리-관덕정-동문로타리-제주여상-일도이동사무소-동광우체국-인화초교-문예회관-<span style="color:red;">삼성의원(종점)</span></div>
          <div class="bus-date">3호선</div>
            <div class="bus-route"><span style="color:blue">중앙도서관</span>~제주시청-구신고-한국병원-시외버스터미널-오라오거리-건설공제조합-신제주로타리-한라병원-노형로타리-<span style="color:red;">부영아파트사거리(종점)</span></div>
          <div class="bus-date">4호선</div>
            <div class="bus-route"><span style="color:blue">중앙도서관</span>~제주여고-영지학교-탐라중-한일베라체-한마음병원 - 대림2차APT - 농협하나로마트 - 동광초교 - 제주은행 - 서해APT - 삼양초교 - 삼화부영1차APT - <span style="color:red;">화북주공4단지(종점)</span></div>
          <div class="bus-date">5호선</div>
            <div class="bus-route"><span style="color:blue">중앙도서관</span> ~ 중앙여고 - 이도주공2단지APT - 수선화APT - 도남 - 보건소 - 세기APT - 건설공제조합 - 신제주로타리 - 대한지적공사 - 그랜드호텔사거리 - 대림1차APT - 한라초교 - 으뜸마을 - 탐라도서관 - 한라대 - 노형성당 - 노형주공1단지 - 본죽사거리 - 도두동입구 - 이호2동 - 우렁이마을 - 내도동마을 - 외도초교 - <span style="color:red;">외도부영아파트(종점)</span></div>
          </div>

        </center>
      </div>
     </div>

  </body>
</html>
