<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width, height=device-height, user-scalable=no" />
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/materialsidebar.min.js"></script>
    <script src="/javascripts/webslider.js"></script>
    <link rel="stylesheet" href="stylesheets/shuttlebus.css">
    <link rel="stylesheet" href="stylesheets/frame.css">
    <title>
      shuttlebus
    </title>
    <SCRIPT LANGUAGE="JavaScript">
    <!--
    function startCateScrollScroll(target) {
          setTimeout("slideCateScroll('"+target+"')", 10);
    }
    function slideCateScroll(target) {
        var Sel_Height=350;
            el = document.getElementById(target);
        if (el.heightPos == null || (el.isDone && el.isOn == false)) {
            el.isDone = false;
            el.heightPos = 1;
            el.heightTo = Sel_Height;
        } else if (el.isDone && el.isOn){
            el.isDone = false;
            el.heightTo = 1;
        }
        if (Math.abs(el.heightTo - el.heightPos) > 1) {
            el.heightPos += (el.heightTo - el.heightPos) / 10;
            el.style.height = el.heightPos + "px";
            startCateScrollScroll(target);
        } else {
        if (el.heightTo == Sel_Height) {
            el.isOn = true;
        } else {
            el.isOn = false;
        }
            el.heightPos = el.heightTo;
            // el.style.height = el.heightPos + "px";
            el.isDone = true;
        }
    }


    //-->
    </SCRIPT>
    <script>var d = new Date();
            var x = 20;
            var y = 40;
            var z = 60;
            </script>
  </head>
  <body>
    <!-- Toolbar -->
      <div class="top-bar">
        <div id="open-sb">
        <img src="img/menu_button.png" alt="menu-button" align="left">
      </div>
        <div class="menu-name">
          순환버스
        </div>
      </div>

    <!-- Slidebar -->
    <section class="sidebar">
      <div class="menu-slide" align="left">
        <ul>
         <a href="/"><li class="home">홈</li></a>
         <a href="shuttlebus"><li class="bus">순환버스</li></a>
         <a href="haksa"><li class="haksa">학사일정</li></a>
         <a href="food_sort"><li class="food">뭐먹을까</li></a>
         <a href="libseat"><li class="library">중도좌석</li></a>
         <a href="libreform"><li class="book">도서검색</li></a>
        </ul>
       </div>
     </section>

  <!-- Toolbar End -->

    <div class="wrapper">
  		<div id="main-wrapper">
  				<center>
  			    <div class="menu_s" href=# onclick="slideCateScroll('scroll-list')"><B>정문</B></div>
  			    <div id="scroll-list" class="scroll-list">
  			  <center>
  			    <ul class="slide">
              <li>A버스</li>
              <li>00분 20분 40분<br></li>
              <li>휴식시간</li>
              <li>9:40분, 14:20분, 16:40분</li>
                <li></li>
              <li>B버스</li>
  			      <li>10분 30분 50분<br></li>
              <li>휴식시간</li>
              <li>10:10분, 14:50분, 17:10분</li>
                <li></li>
              <li>쉬는시간</li>
              <li>A버스 : 11:00 ~ 12:00</li>
              <li>B버스 : 12:00 ~ 13:00</li>
  			    </ul>
  			  </center></div><br>

  			<div class="bus_A" style=" cursor: pointer;" onclick="location='img/ABus.png'">
  				<div class="A_icon">
  					<span class="bus_name"><strong>A(시계)</strong></span><br>
  					<img src="img/bus_icon.png"></img>
  				</div>
  				<div class="A_time">
  					<span class="time1">
              <script>
                if(d.getHours() <= 18 && d.getHours() >= 8) {
                  if (d.getMinutes()<20) {
                    document.write((x-d.getMinutes())+"분전")
                  }
                  else if (d.getMinutes()<40) {
                    document.write((y-d.getMinutes())+"분전")
                  }
                  else {
                    document.write((z-d.getMinutes())+"분전")
                  }
                } else {
                  document.write("배차아님")
                }
              </script>
            </span>
            <br>
  					<span class="time2">
              <script>
              if(d.getHours() <= 18 && d.getHours() >= 8) {
                if (d.getMinutes()<20) {
                    document.write("다음 버스는 "+(20-d.getMinutes()+20)+"분전.")
                }
                else if (d.getMinutes()<40) {
                   document.write("다음 버스는 "+(40-d.getMinutes()+20)+"분전")
                }
                else {
                    document.write("다음 버스는 "+(60-d.getMinutes()+20)+"분전")
                }
              }
              </script>
          </span>
  				</div>
  			</div>
        <br>
  			<div class="bus_B" style=" cursor: pointer;" onclick="location='img/BBus.png'">
  				<div class="B_time">
            <span class="time1">
              <script>
              if(d.getHours() <= 18 && d.getHours() >= 8) {
                if (d.getMinutes() > 10 && d.getMinutes()<30) {
                  document.write((30-d.getMinutes())+"분전")
                }
                else if (d.getMinutes() > 30 && d.getMinutes()<50) {
                   document.write((50-d.getMinutes())+"분전")
                }
                else {
                  document.write(Math.abs(10-d.getMinutes())+"분전")
                }
              } else {
                document.write("배차아님")
              }
              </script>
            </span><br>
  					<span class="time2">
              <script>
              if(d.getHours() <= 18 && d.getHours() >= 8) {
              if (d.getMinutes()<10) {
                document.write("다음 버스는 "+(x-d.getMinutes()+20)+"분전.")
            }
            else if (d.getMinutes()<30) {
               document.write("다음 버스는 "+(y-d.getMinutes()+20)+"분전")
            }
            else {
                document.write("다음 버스는 "+(z-d.getMinutes()+20)+"분전")
                  }
                }
                  </script>
          </span>
  			</div>
  				<div class="B_icon">
  					<span class="bus_name"><strong>B(반시계)</strong></span><br>
  					<img src="img/bus_icon.png"></img>
  				</div>
  				</div>
  			</div>
  		</center>
  		<p><br> * 버스 사정에 따라 차이가 있을 수 있음</p><br>
  		</div>
  </body>
</html>
