.bus{
  border-style: double;
  color: black;
  padding: 15px;
  clear:both;
  margin-bottom: 10px;
}
.bus-date{
  background-color:rgba(41, 128, 185, 0.66);
  clear:both;
  padding: 20px;

  color:white;
  font-size: 50px;

}
.bus-time{
  padding:10px;
  float:left;
  width:30%;
  font-size: 60px;
}
.bus-num{
  padding:10px;
  float:right;
  width:60%;
  font-size: 60px;
}
.bus-route{
  margin:10px;
  font-size:50px;
  padding: 30px;

}
