.top-bar {
  background-color: rgb(12, 80, 160);
  height: 80px;
}

.top-bar button {
  border: 0;
}

.top-bar img {
  background-color: transparent;
  height: 80px;
  width: 80px;
}

.menu-name {
  font-size: 35px;
  color: white;
  text-align: right;
  padding-right: 3%;
  padding-top: 15px;
}
