.top-bar {
  background-color: rgb(12, 80, 160);
  height: 3.5rem;

}

.top-bar button {
  border: 0;
}

.top-bar img {
  background-color: transparent;
  margin-left: 0.8rem;
  margin-top: 0.8rem;
  height: 1.8rem;
  width: 2.2rem;
}

.menu-name {
  font-size: 25px;
  color: white;
  text-align: right;
  padding-right: 0.6rem;
  padding-top: 0.6rem;
}

::-webkit-scrollbar {
    display: none;
}

.menu-slide ul {
  padding-top: 3.3rem;
  padding-left: 8px;
}

.menu-slide li {
  background-color: rgb(225, 225, 225);
  width: 50%;
  color: rgb(50, 50, 50);
  list-style: none;
  margin-bottom: 0.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.menu-slide li:hover {
  background-color: rgb(50, 50, 50);
  color: #ffffff;
}

a:link {
  text-decoration: none;
}
