.top-bar {
  background-color: rgb(12, 80, 160);
  height: 9rem;

}

.top-bar button {
  border: 0;
}

.top-bar img {
  background-color: transparent;
  margin-left: 2rem;
  margin-top: 2rem;
  height: 5rem;
  width: 6rem;
}

.menu-name {
  font-size: 60px;
  color: white;
  text-align: right;
  padding-right: 2rem;
  padding-top: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

.menu-slide ul {
  padding-top: 9rem;
  padding-left: 20px;
}

.menu-slide li {
  background-color: rgb(225, 225, 225);
  color: rgb(50, 50, 50);
  list-style: none;
  margin-bottom: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.menu-slide li:hover {
  background-color: rgb(50, 50, 50);
  color: #ffffff;
}

a:link {
  text-decoration: none;
}
