.haksa {
  max-height: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}

button {
  padding: 0.4rem;
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: white;
  border: solid 1px #BBBBBB;
  border-top: 0;
  font-weight:bold;
  width: 100%;
  height: auto;
  color: rgb(9, 28, 87);
}

#month0btn {
  border-top:1px solid #BBBBBB;
}

.show {
  max-height: 1000px;
  transition: 0.5s;
  border-bottom:1px solid #BBBBBB;
}

.box {
  background-color: rgba(128, 207, 216, 0.2);
}

.haksaday{
  font-weight: bold;
}

.haksaschedule {
  margin-bottom: 1rem;
}

.haksa>div{
  padding: 0.5rem;
  font-size: 1.2rem;
  padding-left:1em;
}

.haksatitle{
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: auto;
  width: auto;
  text-align: center;
  font-weight: bold;
}
