.haksa {
  max-height: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}

button {
  padding: 0.4rem;
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: white;
  border: solid 1px #BBBBBB;
  font-weight:bold;
  width: 100%;
  height: auto;
}

.show {
  max-height: 1000px;
  transition: 0.5s;
}

.haksaday{
  background-color: rgba(192, 192, 192, 0.2);
}

.haksa>div{
  font-size: 1.2rem;
  padding-left:1em;
}

.haksatitle{
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: auto;
  width: auto;
  text-align: center;
}
