.buss{
border-style: double;
  font-size: 1.6rem;
  color: black;
  padding: 5px;
  font-weight: bold;
  clear:both;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.bus-date{
  background-color:rgba(41, 128, 185, 0.66);
  clear:both;
  padding-top: 10px;
  padding-bottom: 10px;
  color:white;
  font-size: 1.4rem;
  font-weight: bold;
}
.bus-time{
  padding:10px;
  float:left;
  width:30%;
  font-size: 1.4rem;
  font-weight: bold;
}
.bus-num{
  padding:10px;
  float:right;
  width:55%;
  font-size: 1.4rem;
}
.bus-route{
  margin:20px;
  font-size: 1.4rem;
  font-weight: bold;
}
