.busbutton{
  clear: both;
  font-size: 1,3rem;
  color: black;
  padding: 1rem;
  font-weight: bold;
  clear:both;
  margin: 1rem;
  background-color: rgba(41, 128, 185, 0.66);

}
.lib-text-style{
  text-align: left;
  font-size: 1rem;
  height: 12%;
  font-weight: bold;
  display: inline-block;
}
.lib-text-left{
  padding-top:15px;
  padding-bottom:15px;
  float:left;
  width:25%;
  padding-left: 30px;
}
.lib-text-right{
  padding-top:15px;
  padding-bottom:15px;
  float:right;
  width:65%;
}
.llib-text-right{
  padding-top:15px;
  padding-bottom:15px;
  float:right;
  width:70%;
}
.llib-text-left{
  padding-top:15px;
  padding-bottom:15px;
  float:left;
  width:20%;
  padding-left: 30px;
}
