body {
  background-color: rgb(12, 80, 160);
}

.logo {
  margin-top: 55%;
  margin-bottom: 25%;
}

.logo_img {
  width: 70%;
  height: 25%;
}

.selection ul {
  padding: 0;
}

.tip {
  border: 0;
  display: inline;
  margin-left: 20%;
}

.tip img {
  width: 20%;
  height: 20%;
}

.blank {
  display: inline-block;
  list-style: none;
  width: 15%;
}

.smart {
  border: 0;
  display: inline;
}

.smart img {
  width: 20%;
  height: 20%;
}

.footer {
  margin-top: 23%;
}

.jeju_logo {
  margin-right: 4%;
  margin-bottom: 5%;
  float: right;
  width: 10%;
  height: 15%;
}
