body {
  background-color: rgb(12, 80, 160);
}

@media (min-width: 1025px) {
  .logo {
    margin-top: 5rem;
    margin-bottom: 7rem;
  }
  .logo_img {
    width: 35%;
    height: 12.5%;
  }

  .tip img {
    width: 10%;
    height: 10%;
  }

  .smart img {
    width: 10%;
    height: 10%;
  }

  .tip {
    border: 0;
    display: inline;
    margin-left: 32%;
  }

  .blank {
    display: inline-block;
    list-style: none;
    width: 15%;
  }

  .smart {
    border: 0;
    display: inline;
  }

  .jeju_logo {
    margin-right: 4%;
    margin-bottom: 5%;
    float: right;
    width: 8%;
    height: 12%;
  }
  .footer {
    display:inline-block;
  }
}
@media only screen and (max-width: 1024px) {
  .logo {
    margin-top: 22rem;
    margin-bottom: 8rem;
  }
  .logo_img {
    width: 70%;
    height: 25%;
  }

  .tip img {
    width: 20%;
    height: 20%;
  }

  .smart img {
    width: 20%;
    height: 20%;
  }

  .blank {
    display: inline-block;
    list-style: none;
    width: 15%;
  }

  .smart {
    border: 0;
    display: inline;
  }

  .footer {
    margin-top: 23%;
  }

  .tip {
    border: 0;
    display: inline;
    margin-left: 20%;
  }

  .jeju_logo {
    margin-right: 4%;
    margin-bottom: 5%;
    float: right;
    width: 10%;
    height: 15%;
  }
}

.selection ul {
  padding: 0;
}

.footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}
