.menu-slide {
  width: 45%;
}

.menu-slide li {
  background-color: rgb(225, 225, 225);
  color: rgb(50, 50, 50);
  margin-bottom: 3%;
  padding-top: 16%;
  padding-bottom: 16%;
  list-style: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  width:inherit;
}

.menu-slide li:hover {
  background-color: rgb(50, 50, 50);
  color: #ffffff;
}

a:link {
  text-decoration: none;
}
