.menu-slide {
  width: 45%;
}

.menu-slide li {
  background-color: rgb(225, 225, 225);
  color: rgb(50, 50, 50);
  margin-bottom: 3%;
  padding-top: 16%;
  padding-bottom: 16%;
  list-style: none;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.menu-slide li:hover {
  width: 110%;
  height: 50px;
  background-color: rgb(50, 50, 50);
  color: #ffffff;
  font-size: 55px;
  padding-top: 18%;
  padding-bottom: 25%;
}

a:link {
  text-decoration: none;
}
